.Dog img {
  width: 75%;
  /* filter: grayscale(); */
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  /* transition: filter 400ms ease; */
}

/* .Dog:hover img {
  filter: none;
} */

.Dog .underline {
  text-decoration: none;
  border: 4px solid transparent;
  display: inline-block;
  vertical-align: top;
  line-height: 36px;
  text-transform: uppercase;
  color: #333;
  letter-spacing: 0.2rem;
  text-align: center;
  font-size: 1.4rem;
  margin: 10px;
  position: relative;
}

.Dog .underline::after {
  content: "";
  width: 0px;
  height: 4px;
  display: block;
  background-color: #333;
  position: absolute;
  top: 34px;
  left: 50%;
  transition: left 400ms cubic-bezier(0.215, 0.61, 0.355, 1),
    width 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.Dog:hover .underline::after {
  width: 100%;
  top: 34px;
  left: 0;
}
