.RuleRow {
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
}
.RuleRow-active:hover {
  cursor: pointer;
  background: rgba(227, 242, 253, 0.5);
}

.RuleRow-disabled {
  background: linear-gradient(
    to right,
    rgba(209, 196, 233, 1) 0%,
    rgba(209, 196, 233, 1) 0%,
    rgba(209, 196, 233, 1) 30%,
    rgba(227, 242, 253, 1) 40%
  );
  background-size: 300% 300%;
  animation: Slide 1s ease 1;
}

@keyframes Slide {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
.RuleRow-disabled td:first-child {
  text-decoration: line-through;
}

.RuleRow-disabled:hover {
  cursor: not-allowed;
}

.RuleRow td {
  padding: 0.3em;
  border-bottom: solid 1px black;
}

/* .RuleRow-name {
  width: 50%;
  text-align: left;
}

.RuleRow-score {
  width: 50%;
  text-align: right;
} */

@media (min-width: 576px) {
  .RuleRow {
    display: flex;
    flex-direction: row;
  }

  .RuleRow-name {
    width: 50%;
    text-align: left;
  }

  .RuleRow-score {
    width: 50%;
    text-align: right;
  }
}
