.Lottery {
  border: 2px solid gray;
  padding: 1em 0 2em 0;
  text-align: center;
  margin: 1em auto auto;
  border-radius: 10px;
  width: 40em;
}

.Lottery button {
  background-color: darkblue;
  color: #fff;
  font-size: 120%;
  border-radius: 10px;
  margin-top: 1em;
  padding: 0.5em 1em;
  cursor: pointer;
}
