.VendingMachine {
  text-align: center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.VendingMachine .Message {
  width: 30%;
}

.VendingMachine .Message > * {
  font-size: 1.5rem;
  font-weight: bold;
  display: block;
  padding: 1rem;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
