.SWMovies {
  height: 100vh;
  width: 100%;
  background-color: black;
  color: #fff;
  padding: 2rem;
}

h1,
h2 {
  font-family: "Russo One", sans-serif;
}

h1 {
  font-size: 4rem;
  color: #ffe300;
  margin: 1rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
  line-height: 1.5;
  max-width: 600px;
  text-align: justify;
  margin: 1rem auto;
}

select {
  font-size: 4rem;
  color: #ffe300;
  background: black;
  border: 1px solid grey;
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 2rem;
}
