.Joke {
  display: flex;
  border-bottom: 2px solid #eee;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  padding: 1rem;
}

.Joke-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  margin-right: 1rem;
}

.Joke-text {
  width: 75%;
  font-size: 1.2rem;
}

.Joke-votes {
  min-width: 50px;
  min-height: 50px;
  line-height: 50px;
  border-radius: 50%;
  border: 3px solid red;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  box-shadow: 0 10px 38px rgba(0, 0, 0, 0.2), 0 10px 12px rgba(0, 0, 0, 0.1);
}

.fa-arrow-up,
.fa-arrow-down {
  font-size: 1.5rem;
  margin: 10px;
  cursor: pointer;
}

.Joke-smiley {
  font-size: 3rem;
  margin-left: auto;
  border-radius: 50%;
  box-shadow: 0 10px 38px rgba(0, 0, 0, 0.2), 0 10px 12px rgba(0, 0, 0, 0.1);
}
