.Form,
.MultipleForm {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.Form-input {
  display: block;
  margin: 1rem auto;
  font-family: inherit;
  color: inherit;
  width: 300px;
  padding: 0.3rem;
  line-height: 24px;
  border-radius: 4px;
  border: 0.8px solid rgb(206, 212, 218);
}

.Form-btn {
  display: inline-block;
  border: 1px solid #007bff;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #007bff;
  cursor: pointer;
}
